<div class="block j-form">
  <h1>Login</h1>
  <p class="title_desp">Don't have an account? <%= link_to "Sign up!", signup_path %></p>
  <%= form_tag sessions_path do %>
    <div class="flash">
      <% flash.each do |type, message| %>
      <div class="message <%= type %>">
        <p><%=  message %></p>
      </div>
      <% end %>
    </div>
    <fieldset>
      <p>
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username], :class => "required" %>
      <p>
      <p>
        <%= label_tag :password %>
        <%= password_field_tag :password, :class => "required" %>
      <p>
      <p>
        <%= label_tag :remember_me %>
        <%= check_box_tag :remember_me, :class => "required" %>
      <p><%= link_to "forgotten password?", new_password_reset_path %></p>
      <p>
      <p class="buttons">
        <%= submit_tag "Login", :class => "button orange" %>
      </p>
  <% end %>
</div>
