<!DOCTYPE html>
<html>
<head>
  <title>Gatekeeper</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <br/>
  <br/>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="foundation-header">
          <h1><a href="/">Gatekeeper : The guard!</a></h1>
          <h4 class="subheader"> You need access, talk to me brother!</h4>
        </div>
        <dl class="nice tabs mobile hide-on-phones">
          <dd><%= link_to "Home", root_path, :class => 'active' %></dd>
          <% if current_user %>
            <dd><%= link_to "Logout", logout_path %></dd>
          <% else %>
            <dd><%= link_to "Login", login_path %></dd>
            <dd><%= link_to "Signup", signup_path %></dd>
          <% end %>
        </dl>
      </div>
      <div class="row">
        <div class="twelve columns">
          <% flash.each do |type, message| %>
            <% if type == "warn" %>
            <% alert_class = "warning" %>
            <% end %>
            <div class="alert-box <%= alert_class %>">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row"><div class="twelve columns">
        <%= yield %>
      </div></div>
      <div class="row"><div class="twelve columns">
        <div class="foundation-footer">
          Copyright 2011 Jais Cheema
        </div>
      </div></div>
    </div>
</body>
</html>
